<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Error.</h1>
    </hgroup>
    <h1>CUSTOM ERRORRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRR</h1>
</body>
</html>
