@media screen and (max-width: 768px) {
  .response-wrapper {
    background-color: #F09A9D;
    /* Red */ } }

@media screen and (min-width: 769px) and (max-width: 992px) {
  .response-wrapper {
    background-color: #B2D6FF;
    /* Blue */ } }

@media screen and (min-width: 993px) {
  .response-wrapper {
    background-color: #4eb446;
    /* Red */ } }

.response-wrapper {
  height: 100%;
  padding-top: 180px; }
