@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h1>Headings Are Block Elements</h1>

    <p>
        Paragraphs are blocks, too. <em>However</em>, &lt;em&gt; and &lt;strong&gt;
        elements are not. They are <strong>inline</strong> elements.
    </p>

    <p>
        Block elements define the flow of the HTML document, while inline elements
        do not.
    </p>
</div>

<style type="text/css">
    p {
        padding: 20px 0 20px 10px;
        margin-top: 25px;
        margin-bottom: 50px;
    }
</style>