@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div class="main">
        <a class="btn-default btn" href="@Url.Action("Positioning", "Home")">Go to positioning</a>
        <a class="btn-default btn" href="@Url.Action("BoxModels", "Home")">Go to BOX MODELS</a>
    </div>

<style type="text/css">
    .main {
        margin-top: 100px;
    }
</style>