<!DOCTYPE html>
<html>
<head>
    <meta charset='UTF-8' />
    <title>Positioning Is Easy!</title>
    <link href='~/Content/css/positioning.css' rel='stylesheet' />
</head>
<body>

    @RenderBody()

</body>
</html>